<h3>Hi</h3>
<h2></h2>
<h2>We are positive that you will have a wonderful experience</h2>

<p>
  {{assignee}}
  has accepted your contract request, you can now send a message.</p>
<p>Kindly Note that it's important you update you profile and pending
  information for a better experience</p>

{{!-- <h5>{{emailOtp}}</h5> --}}
{{!-- <img src="{{imageUrl}}" alt="Signup Image" /> --}}
{{! <p>Do not share this OTP with anyone. }}
{{! </p> }}
<p>Thank you!"
</p>